.feed {
  position: relative;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  @include testing;
}

.feed_component {
  position: relative;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  padding: 10px;
  box-sizing: border-box;
  border-bottom: 1px solid grey;
  cursor: pointer;
  transition: 0.2s;
}

.feed_component:hover {
  box-shadow: 1px 1px 1px 1px grey;
  transition: 0.2s;
}

@mixin modal_backdrop {
  position: fixed;
  z-index: 98;
}

#modal {
  @include modal_backdrop;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

#feed_modal {
  @include modal_backdrop;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: white;
  opacity: 0.8;
}

#central_modal {
  position: relative;
  top: 100px;
  width: 40vw;
  height: 80vh;
  overflow: scroll;
  opacity: 1;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  box-sizing: border-box;
  z-index: 999;
  box-shadow: 1px 1px 1px 1px grey;
}

.feed_link {
  color: black;
  text-decoration: none;
}
