#account_creation {
  text-align: center;
  width: 170px;
  margin-left: auto;
  margin-right: auto;
}

.form_block_view {
  display: block;
  margin: 5px;
}

.input_box {
  padding: 5px;
  border-radius: 5px;
  width: 150px;
  border: 1px solid grey;
  font-size: 14px;
}

#login_page {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  overflow: none;
  margin-bottom: 0;
}

#login_header {
  text-align: center;
  color: $cream_white;
  font-size: 22px;
}

#centered_login_page {
  position: fixed;
  display: inline-block;
  background-color: $island_green;
  width: 50%;
  height: 100%;
  box-sizing: border-box;
}

#login_forms {
  position: relative;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  top: 200px;
}

#login_page_about {
  position: relative;
  display: inline-block;
  width: 50%;
  height: 100%;
  margin-bottom: 0;
  float: right;
  box-sizing: border-box;
  @include testing;
}

.login_page_information {
  position: relative;
  width: 80%;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  @include testing;
}

.login_page_text {
  position: relative;
  height: 100%;
  width: 60%;
  margin: 0;
  float: right;
  @include testing;
}

.hidden_visual {
  margin: 0;
  color: red;
}

@keyframes spinning_dial {
  to {
    transform: rotate(360deg);
  }
}

#spinning_dial_container {
  position: relative;
  width: 75px;
  height: 75px;
  margin-left: auto;
  margin-right: auto;
}

#spinning_dial:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: 5px solid transparent;
  border-top-color: white;
  animation: spinning_dial 1s linear infinite;
}

#loading_user {
  position: relative;
  font-size: 24px;
  width: 100%;
  text-align: center;
  color: white;
  height: 50px;
}

#password_validation {
  position: relative;
  font-size: 14px;
  top: 0;
  width: 250px;
  max-width: 30%;
  float: left;
  transition: 0.3s;
  @include testing;
}

.password_validation_checkbox {
  display: block;
  margin: 5px;
  box-sizing: border-box;
}
