.learn_page {
  position: relative;
  width: 50%;
  color: $text_black;
  font-family: $standard_font;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}

.learn_page_paragraph {
  position: relative;
  margin-top: 15px;
  font-size: 18px;
  line-height: 165%;
  margin-left: auto;
  margin-right: auto;
}

.learn_page_subheader {
  position: relative;
  font-size: 20px;
  font-weight: bold;
}

.learn_page_notif {
  position: relative;
  margin-top: 15px;
  font-size: 18px;
  text-align: center;
  color: $island_green;
  line-height: 165%;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
}

#knowledge_check {
  position: relative;
  border: 1px solid black;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  padding: 5px;
  border-radius: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.option {
  position: relative;
  display: block;
  height: 45px;
}

.select_container {
  position: relative;
  width: 15px;
  height: 15px;
  margin: 15px;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  border: 1px solid black;
}

.select_subheader {
  position: relative;
  display: inline-block;
  vertical-align: top;
  height: 25px;
  font-weight: bold;
}

.incorrect_ans {
  color: red;
}

#graph_learning_block {
  position: relative;
  width: 100%;
  height: 375px;
}

.inline {
  position: relative;
  vertical-align: top;
  display: inline-block;
}

.blanks_title {
  position: relative;
  margin: 10px;
}

#learn_sidebar {
  width: 75%;
  float: right;
}

#learn_sidebar_ul {
  list-style-type: none;
}

.learn_sidebar_item {
  margin-top: 15px;
  color: #211a1e;
  cursor: pointer;
  transition: 0.2s;
}

.learn_sidebar_item:hover {
  color: #666465;
  transition: 0.2s;
}

.learn_sidebar_button {
  display: inline-block;
  margin-right: 5px;
  width: 10px;
  height: 10px;
  background-color: $forest_green;
}

.learn_fit_container {
  display: inline-block;
}

.learn_component_state {
  // @include testing;
}

.emphasize {
  color: $island_green;
}

.featureless_link {
  text-decoration: none;
}

.glossary_term {
  font-size: 20px;
  margin-bottom: 5px;
  padding: 10px;
  border-bottom: 1px dashed $soft_grey;
}

.glossary_header {
  text-align: center;
  font-family: $standard_font;
}

.progress_flare {
  font-size: 14px;
  color: $raisin_black;
}

.user_index_hover_block {
  background-color: $cream_white;
  font-family: $standard_font;
  border: 1px solid black;
  padding: 5px;
  border-radius: 5px;
}

.transparent_outer {
  position: absolute;
  z-index: 9;
  width: 200px;
  top: 0;
  padding: 10px;
  background-color: transparent;
}

.user_comment_index {
  position: relative;
  display: inline-block;
  overflow: visible;
  padding-bottom: 5px;
  cursor: pointer;
  @include testing;
}

.user_index_hover_img_block {
  width: 25px;
  height: 25px;
  overflow: hidden;
  display: inline-block;
}

.user_index_hover_img {
  position: relative;
  height: 100%;
  width: 100%;
}

.user_index_hover_username {
  position: relative;
  display: inline-block;
  margin-left: 5px;
}

.user_index_hover_bio {
  margin: 0;
  font-size: 14px;
}

.username_tag_block {
  display: inline-block;
  vertical-align: top;
}

.username_tag {
  color: $forest_green;
}

.hover_comp {
  display: inline-block;
  vertical-align: baseline;
  color: $text_black;
  text-decoration: none;
}
